[Unit]
Description=HassBootPc
After=network.target

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1000
Type=simple
User=sh1rl0ck
WorkingDirectory=/mnt/Data/dev/hass_pc_control
ExecStart=/usr/bin/python3 /mnt/Data/dev/hass_pc_control/hass_pc_control.py

[Install]
WantedBy=multi-user.target